<div id="modal-{{ field_name }}" class="modal closed">
    <div class="modal-header">
        <button id="modal-close-{{ field_name }}" class="modal-close-button">Close</button>
    </div>
    <div class="modal-guts">
        <h3>Add {{ field_name }}</h3>
        <input id="modal-value-{{ field_name }}" type="text" autofocus>
        <p id="modal-error-{{ field_name }}"></p>
        <br>
        <button id="modal-add-{{ field_name }}" type="button">Add</button>
    </div>
</div>
<div id="modal-overlay-{{ field_name }}" class="modal-overlay closed"></div>
