{% extends "../opusario/base.html" %}
{% load static from staticfiles %}

{% load account_tags opusario_tags %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block static %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block body_container %}

    <section class="wrapper style5">
        <div class="inner">
            <form action="{{ form.form_action }}" method="post">
                {% csrf_token %}
                <h2>{{ title }}</h2>
                {% if messages %}
                    <div class="row">
                        <div class="col-10 form-messages">
                        {% for message in messages %}
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="form-field-group">
                    {# Render main form--potentially 'parent' if there is an inline formset #}
                    {% include 'talent/_render_fields.html' %}
                    {# Render the child inline formset if it exists  #}
                    {% if formset %}
                        <h5>{{ formset_title }}</h5>
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {% include 'talent/_render_fields.html' %}
                        {% endfor %}
                    {% endif %}
                </div>
                <input class="button primary small form-submit-button" type="submit" value="Submit">
            </form>
        {% for field in form %}
            {% if field|has_modal %}
                {% with field_name=field.name %}
                    {% include 'talent/_modal.html' %}
                {% endwith %}
            {% endif %}
        {% endfor %}
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script>
        {% for field in form %}
            {# Dynamically render ajax for fields which contain interdependent select values #}
            {% if field|has_ajax %}
                {% with ajax_url=field|get_refresh_url ajax_target=field|get_refresh_target %}
                    $("#id_{{ field.name }}").change(function () {
                        $.ajax({
                            url: "{% if request.is_secure %}HTTPS{% else %}HTTP{% endif %}://{{ request.META.HTTP_HOST }}/{{ ajax_url }}",
                            data: {'selected': $(this).val()},
                            success: function (data) {$("#id_{{ ajax_target }}").html(data);}
                        });
                    });
                    $('#id_{{ field.name }} > option:selected').removeAttr('selected');
                    $('#id_{{ field.name }} > option[value="{{ field.field.initial }}"]').attr('selected','selected');
                {% endwith %}
            {% endif %}
            {# Dynamically render ajax for fields which are enabled to add values via modal form #}

            {% if field|has_modal %}
                {% with ajax_url=field|get_modal_url dependency=field|get_modal_dependency %}
                    $("#modal-add-{{ field.name }}").click(function () {
                        {% if dependency %}
                            var relatedItem = $('#id_{{ dependency }}').val();
                        {% else %}
                            var relatedItem = '';
                        {% endif %}
                        $.ajaxSetup({beforeSend: function(xhr, settings){
                            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                        }});
                        $.ajax({
                            type: 'POST',
                            url: "{% if request.is_secure %}HTTPS{% else %}HTTP{% endif %}://{{ request.META.HTTP_HOST }}/{{ ajax_url }}",
                            data: {
                                '{{ field.name }}': $('#modal-value-{{ field.name }}').val(),
                                'dependency': relatedItem
                            },
                            success: function (data) {
                                if (data.success) {
                                    $('#id_{{ field.name }}').append('<option value="' + data.data.id + '">' +
                                        data.data.name + '</option>');
                                    $('#id_{{ field.name }} > option[value=' + data.data.id + ']')
                                        .attr('selected','selected');
                                    toggleModal('{{ field.name }}');
                                    $('#modal-value-{{ field.name }}').val('');
                                    $('#id_{{ field.name }}').trigger('change') // Refresh dependent data, if any
                                } else {
                                    $('#modal-error-{{ field.name }}').html(data.data);
                                }
                            },
                            error: function () {
                                $('#modal-error-{{ field.name }}').html('Error - please try again later.');
                            }
                        });
                    });
                    $('#modal-open-{{ field.name }}').click(function (e) {
                        e.preventDefault();
                        toggleModal('{{ field.name }}');
                    });
                    $('#modal-close-{{ field.name }}').click(function () {
                        $('#modal-error-{{ field.name }}').html('');
                        $('#modal-value-{{ field.name }}').val('');
                        toggleModal('{{ field.name }}');
                    });
                {% endwith %}
            {% endif %}
        {% endfor %}
        {# Toggle modal form(s) which may or may not exist #}
        function toggleModal(fieldName) {
            $('#modal-' + fieldName).toggleClass('closed');
            $('#modal-overlay-' + fieldName).toggleClass('closed');
        }
    </script>
{% endblock %}
