{% extends "../opusario/base.html" %}
{% load static from staticfiles %}

{% load account_tags opusario_tags %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block static %}
{% endblock %}

{% block navigation %}
    <ul>
    <li><a href="{% url 'talent:company_create' %}"></a></li>
    </ul>
{% endblock %}

{% block body_container %}

    <section class="wrapper style5">
        <div class="inner">
            <form action="{{ form.form_action }}" method="post">
                {% csrf_token %}
                <h2>{{ title }}</h2>
                {% if messages %}
                    <div class="row">
                        <div class="col-10 form-messages">
                        {% for message in messages %}
                            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="form-field-group">
                    {# Render main form--potentially 'parent' if there is an inline formset #}
                    {% include 'talent/_render_fields.html' %}
                    {# Render the child inline formset if it exists  #}
                    {% if formset %}
                        {{ formset.management_form }}
                        {% for form in formset %}
                            {% include 'talent/_render_fields.html' %}
                        {% endfor %}
                    {% endif %}
                </div>
                <input class="button primary small form-submit-button" type="submit" value="Submit">
            </form>
        {% for field in form %}
            {% if field|has_modal %}
                {% with field_name=field.name modal_url=field|get_modal_url %}
                    {% include 'talent/_modal.html' %}
                {% endwith %}
            {% endif %}
        {% endfor %}
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script>
        {# Dynamically render ajax for interdependent select values #}
        {% for field in form %}
            {% if field|has_ajax %}
                {% with ajax_url=field|get_refresh_url ajax_target=field|get_refresh_target %}
                    $("#id_{{ field.name }}").change(function () {
                        $.ajax({
                            url: "/talent/{{ ajax_url }}",
                            data: {'selected': $(this).val()},
                            success: function (data) {$("#id_{{ ajax_target }}").html(data);}
                        });
                    });
                    $('#id_{{ field.name }} > option:selected').removeAttr('selected');
                    $('#id_{{ field.name }} > option[value="{{ field.field.initial }}"]').attr('selected','selected');
                {% endwith %}
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}
