{% extends "../opusario/base.html" %}

{% load i18n %}

{% block title %}{% trans "Confirm Email" %}{% endblock %}

{% block body_container %}
     <section class="wrapper style5">
        <div class="inner">
           <form method="post" action="{% url "account_confirm_email" key=confirmation.key %}">
               <h2>{% trans "Confirm Email" %}</h2>

               {% csrf_token %}
               <p>{% blocktrans with email=confirmation.email_address.email %}Confirm email address <b>{{ email }}</b>?{% endblocktrans %}</p>
               <button type="submit" class="button primary small">{% trans "Confirm" %}</button>

            </form>
        </div>
     </section>>
{% endblock %}