{% extends "../opusario/base.html" %}
{% load static from staticfiles %}

{% load account_tags %}
{% load i18n %}

{% block title %}{% trans "Account Login" %}{% endblock %}
{% block static %}

    <!-- OWASP 20170211: Turn off password autocomplete -->
    <script>
        $(document).ready(function(){
            $('#id_password').attr('autocomplete', 'off');
        });
    </script>

{% endblock %}

{% block body_container %}

    <section class="wrapper style5">
        <div class="inner">

            <form id="login_form" method="POST" action="{% url "account_login" %}"
                    {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}

                <h2>{% trans "Log In" %}</h2>

                <!-- ALERT -->
                {% include "./_form_errors.html" %}

                <div class="form-field-group">
                    <div class="row gtr-0 gtr-uniform">
                        <div class="col-2 form-label">
                            <label for="id_username">{{ form.username.label }}:</label>
                        </div>
                        <div class="col-4 col-4-xsmall">
                            {{ form.username }}
                            <p class="tooltip">Your user name may be different than your email address.</p>
                            {% include "./_username_errors.html" %}
                        </div>
                    </div>
                    <div class="row gtr-0 gtr-uniform">
                        <div class="col-2 form-label">
                            <label for="register:pass1">{{ form.password.label }}:</label>
                        </div>
                        <div class="col-4 col-4-xsmall">
                            {{ form.password }}
                            {% include "./_password_errors.html" %}
                        </div>
                    </div>
                </div>

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <button type="submit" class="button primary small form-submit-button" >{% trans "Log in" %}</button>
                <br><br>
                <a href="{% url "account_password_reset" %}" class="btn btn-link">{% trans "Forgot your password?" %}</a>

            </form>

            {% if ACCOUNT_OPEN_SIGNUP %}
                <p class="login-signup">
                    <small>
                        {% trans "Don't have an account?" %}  <strong><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></strong>
                    </small>
                </p>
            {% endif %}
        </div>
    </section>

{% endblock %}

{% block scripts %}
{% endblock %}
