{% extends "../opusario/base.html" %}
{% load static from staticfiles %}

{% load account_tags %}
{% load i18n %}

{% block title %}{% trans "Account Logout" %}{% endblock %}
{% block static %}
{% endblock %}

{% block body_container %}

    <div class="col-md-6 col-md-offset-3">
        <form  id="login_form" class="margin-top-30 sky-form boxed" method="POST" action="{% url "account_logout" %}">
            {% csrf_token %}

            <header>{% trans "Log Out" %}</header>

            <div class="box-static box-transparent box-bordered padding-30">

                <fieldset>
                    <p>{% trans "Are you sure you want to log out?" %}</p>
                    <button type="submit" class="btn btn-primary btn-bordered pull-right">{% trans "Log out" %}</button>
                </fieldset>

            </div>

        </form>

    </div>

{% endblock %}
{% block scripts %}
{% endblock %}