{% extends "../opusario/base.html" %}
{% load static from staticfiles %}

{% load account_tags %}
{% load i18n %}

{% block title %}{% trans "Account Logout" %}{% endblock %}
{% block static %}
{% endblock %}

{% block body_container %}

    <section class="wrapper style5">
        <div class="inner">

            <form  id="login_form" method="POST" action="{% url "account_logout" %}">
                {% csrf_token %}

                <h2>{% trans "Log Out" %}</h2>

                <div class="form-field-group">
                    <div class="row gtr-0 gtr-uniform">
                        <div class="col-12 col-12-xsmall">
                            <p>{% trans "Are you sure you want to log out?" %}</p>
                            <button type="submit" class="button primary small">{% trans "Yes!" %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
{% block scripts %}
{% endblock %}