{% extends "../opusario/base.html" %}
{% load static from staticfiles %}

{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "Password Reset Sent" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_container %}

    <section class="wrapper style5">
        <div class="inner">

            <h2>{% trans "Password Reset Sent" %}</h2>

            {% if not resend %}

                <form id="resendpassword_form" method="post" action="{% url "account_password_reset" %}">
                    {% csrf_token %}

                    <p>{% trans "We have sent you an email with instructions to reset your password. If you do not receive it within a few minutes, try resending or contact Support." %}</p>

                        {% for field in form %}
                            {{ field.as_hidden }}
                        {% endfor %}


                    <button type="submit" name="resend" class="button primary small form-submit-button">
                        {% trans "Resend" %}</button>

                </form>

            {% else %}

                <p>{% trans "We have resent the email to reset your password. If you do not receive it within a few minutes, contact Support." %}</p>

            {% endif %}

        </div>
    </section>

{% endblock %}
{% block scripts %}
{% endblock %}