{% extends "../opusario/base.html" %}
{% load static from staticfiles %}

{% load i18n %}

{% block title %}{% trans "Password Reset Error" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}
{% block body_container %}

    <section class="wrapper style5">
        <div class="inner">

            <h2>{% trans "Password Reset Error" %}</h2>

            {% url "account_password_reset" as url %}

            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a" %}
                <a href="{{ url }}">{% trans "new password reset" %}</a>{% trans " or contact Support if you need help." %}
            </p>

        </div>
    </section>

{% endblock %}
{% block scripts %}

{% endblock %}