{% extends "site_base.html" %}
{% load static from staticfiles %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}
{% block body_container %}

    <div class="col-md-6 col-md-offset-3">

        <form id="signup_form" class="margin-top-30 sky-form boxed centered" method="POST" action="">
        {% csrf_token %}

        <header>{% trans "Change Password" %}</header>

            <div class="box-static box-transparent box-bordered padding-30">

                {% include "./inc_form_errors.html" %}

                <fieldset>

                    <div class="row"> <!-- current password -->
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6">
                                <label>{{ form.password_current.label }} *</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-lock"></i>
                                    {{ form.password_current }}
                                </label>
                                {% include "./inc_password_current_errors.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="row"> <!-- new password -->
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6">
                                <label>{{ form.password_new.label }} *</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-lock"></i>
                                    {{ form.password_new }}
                                    <b class="tooltip tooltip-bottom-left">Mininimum 8 charachters; include 1 upper
                                        case letter and one number.</b>
                                </label>
                                {% include "./inc_password_new_errors.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="row"> <!-- confirm new password -->
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6">
                                <label for="register:pass2">{{ form.password_new_confirm.label }} *</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-lock"></i>
                                    {{ form.password_new_confirm }}
                                    <b class="tooltip tooltip-bottom-left">Retype password to validate.</b>
                                </label>
                                {% include "./inc_password_new_confirm_errors.html" %}
                            </div>
                        </div>
                    </div>

                </fieldset>

                <div class="row"><div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-bordered pull-right">{% trans "Change password" %}</button>
                </div></div>

            </div>

        </form>

    </div>

{% endblock %}
{% block scripts %}

    <script type="text/javascript">var plugin_path = "{% static "plugins/" %}";</script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

{% endblock %}