{% extends "index.html" %}
{% load static from staticfiles %}

{% load i18n %}

{% block title %}{% trans "Set Your New Password" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_container %}

    <div class="col-md-6 col-md-offset-3">

        <form id="setnewpassword_form" class="margin-top-30 sky-form boxed centered" method="POST"
              action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
            {% csrf_token %}

            <header>{% trans "Set your new password" %}</header>

            <div class="box-static box-transparent box-bordered padding-30">

                {% include "./_form_errors.html" %}

                <fieldset>

                    <div class="row"> <!-- password -->
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6">
                                <label for="register:pass1">{{ form.password.label }} *</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-lock"></i>
                                    {{ form.password }}
                                    <b class="tooltip tooltip-bottom-left">Mininimum 8 charachters; include 1 upper
                                        case letter and one number.</b>
                                </label>
                                {% include "./_password_errors.html" %}
                            </div>
                        </div>
                    </div>
                    <div class="row"> <!-- confirm password -->
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6">
                                <label for="register:pass2">{{ form.password_confirm.label }} *</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-lock"></i>
                                    {{ form.password_confirm }}
                                    <b class="tooltip tooltip-bottom-left">Retype password to validate.</b>
                                </label>
                                {% include "./_password_confirm_errors.html" %}
                            </div>
                        </div>
                    </div>

                </fieldset>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-bordered pull-right">
                            {% trans "Change password" %}</button>
                    </div>
                </div>

            </div>

        </form>

    </div>

{% endblock %}
{% block scripts %}
{% endblock %}