{% extends "../opusario/base.html" %}
{% load static from staticfiles %}

{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block static %}
{% endblock %}

{% block body_container %}

    <div class="col-md-6 col-md-offset-3">

        <form id="resetpassword_form" class="margin-top-30 sky-form boxed centered" method="post" action="">
        {% csrf_token %}

            <header>{% trans "Reset Password" %}</header>

            <div class="box-static box-transparent box-bordered padding-30">

                {% include "./_form_errors.html" %}

                <p>{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>

                <fieldset>
                    <div class="row"> <!-- email -->
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6">
                                <label for="register:email">{{ form.email.label }} *</label>
                                <label class="input margin-bottom-10">
                                    <i class="ico-append fa fa-envelope"></i>
                                    {{ form.email }}
                                </label>
                                {% include "./_email_errors.html" %}
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-bordered pull-right">
                            {% trans "Reset my password" %}
                        </button>
                    </div>
                </div>

            </div>

        </form>

        <p class="login-signup"><small>
            {% trans "If you have any trouble resetting your password, contact" %}
            <a href="#"><strong>{% trans "Support" %}</strong></a>.
        </small></p>


    </div>

{% endblock %}

{% block scripts %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}