{% extends "index.html" %}
{% load static from staticfiles %}

{% load i18n %}
{% load account_tags %}

{% block title %}{% trans "Password Reset Sent" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_container %}

    <div class="col-md-6 col-md-offset-3">

        <div class="margin-top-30 margin-bottom-30 box-static box-transparent box-bordered box-white">

            <h1>{% trans "Password reset sent." %}</h1>

            {% if not resend %}

                <form id="resendpassword_form" class="sky-form centered" method="post"
                    action="{% url "account_password_reset" %}">
                    {% csrf_token %}

                    <p>{% trans "We have sent you an email with instructions to reset your password. If you do not receive it within a few minutes, try resending or contact Support." %}</p>

                        {% for field in form %}
                            {{ field.as_hidden }}
                        {% endfor %}

                <div class="row">
                    <div class="col-md-12">

                        <button type="submit" name="resend" class="btn btn-primary btn-bordered pull-right">{% trans "Resend" %}</button>

                    </div>
                </div>

                </form>

            {% else %}

                <p>{% trans "We have resent the email to reset your password. If you do not receive it within a few minutes, contact Support." %}</p>

            {% endif %}

        </div>

    </div>

{% endblock %}
{% block scripts %}
{% endblock %}