{% extends "../opusario/base.html" %}
{% load static from staticfiles %}

{% load i18n %}

{% block title %}{% trans "Set Your New Password" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_container %}

    <section class="wrapper style5">
        <div class="inner">

            <form id="setnewpassword_form" method="POST"
                  action="{% url "account_password_reset_token" uidb36=uidb36 token=token %}">
                {% csrf_token %}

                <h2>{% trans "Create New Password" %}</h2>

                {% include "./_form_errors.html" %}

                <div class="form-field-group">
                    <div class="row gtr-0 gtr-uniform">
                        <div class="col-2 form-label">
                            <label for="register:pass1">{{ form.password.label }}</label>
                        </div>
                        <div class="col-3 col-3-xsmall">
                            {{ form.password }}
                            <p class="tooltip">Minimum 8 characters; include 1 upper case letter and one number.</p>
                            {% include "./_password_errors.html" %}
                        </div>
                    </div>
                    <div class="row gtr-0 gtr-uniform">
                        <div class="col-2 form-label">
                            <label for="register:pass2">{{ form.password_confirm.label }}</label>
                        </div>
                        <div class="col-3 col-3-xsmall">
                            {{ form.password_confirm }}
                            <p class="tooltip">Retype password to validate.</p>
                            {% include "./_password_confirm_errors.html" %}
                        </div>
                    </div>
                </div>

                <button type="submit" class="button primary small form-submit-button">
                    {% trans "Change password" %}</button>

            </form>

        </div>
    </section>

{% endblock %}
{% block scripts %}
{% endblock %}