{% extends "site_base.html" %}
{% load static from staticfiles %}

{% load i18n %}

{% block title %}{% trans "Password Reset Error" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_classes %} bg-grey {% endblock %}
{% block body_container %}

    <div class="col-md-6 col-md-offset-3">

        <div class="margin-top-30 margin-bottom-30 box-static box-transparent box-bordered box-white">

            <h1>{% trans "Password Reset Error" %}</h1>

            {% url "account_password_reset" as url %}

            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a" %}
                <a href="{{ url }}">{% trans "new password reset" %}</a>{% trans " or contact Support if you need help." %}
            </p>

        </div>

    </div>

{% endblock %}
{% block scripts %}

    <script type="text/javascript">var plugin_path = "{% static "plugins/" %}";</script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

{% endblock %}