{% extends "../opusario/base.html" %}
{% load static from staticfiles %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block static %}
{% endblock %}

{% block body_container %}

    <section class="wrapper style5">
        <div class="inner">

            <form id="signup_form" method="POST" action="">
                {% csrf_token %}

                <h2>{% trans "Change Password" %}</h2>

                {% include "./_form_errors.html" %}

                <div class="form-field-group">
                    <div class="row gtr-0 gtr-uniform"> <!-- current password -->
                        <div class="col-2 form-label">
                            <label>{{ form.password_current.label }}</label>
                        </div>
                        <div class="col-3 col-3-xsmall">
                            {{ form.password_current }}
                            {% include "./_password_current_errors.html" %}
                        </div>
                    </div>
                    <div class="row gtr-0 gtr-uniform"> <!-- new password -->
                        <div class="col-2 form-label">
                            <label>{{ form.password_new.label }}</label>
                        </div>
                        <div class="col-3 col-3-xsmall">
                            {{ form.password_new }}
                            <p class="tooltip">Minimum 8 characters; include 1 upper case letter and one number.</p>
                            {% include "./_password_new_errors.html" %}
                        </div>
                    </div>
                    <div class="row gtr-0 gtr-uniform"> <!-- confirm new password -->
                        <div class="col-2 form-label">
                            <label for="register:pass2">{{ form.password_new_confirm.label }}</label>
                        </div>
                        <div class="col-3 col-3-xsmall">
                            {{ form.password_new_confirm }}
                            <p class="tooltip">Retype password to validate.</p>
                            {% include "./_password_new_confirm_errors.html" %}
                        </div>
                    </div>
                    <button type="submit" class="button primary small form-submit-button">
                        {% trans "Change password" %}</button>
                </div>

            </form>

        </div>
    </section>

{% endblock %}
{% block scripts %}

{% endblock %}