{% extends "../opusario/base.html" %}
{% load static from staticfiles %}

{% load account_tags %}
{% load i18n %}

{% block title %}{% trans "Create Account" %}{% endblock %}
{% block static %}

    <!-- OWASP 20170211: Turn off password autocomplete -->
    <script>
        $(document).ready(function(){
            $('#id_password').attr('autocomplete', 'off');
            $('#id_password_confirm').attr('autocomplete', 'off');
        });
    </script>

{% endblock %}

{% block body_container %}

    <section class="wrapper style5">
        <div class="inner">

            <form id="signup_form" method="post" action="{% url "account_signup" %}"
                {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}

                <h2>{% trans "Create Opusario Account" %}</h2>

                {% include "./_form_errors.html" %}

                <div class="form-field-group">
                    <div class="row gtr-0 gtr-uniform"> <!-- email address -->
                        <div class="col-2 form-label">
                            <label for="register:email">{{ form.email.label }}</label>
                        </div>
                        <div class="col-3 col-3-xsmall">
                            {{ form.email }}
                            <p class="tooltip">Your favorite email address.</p>
                            {% include "./_email_errors.html" %}
                        </div>
                    </div>
                    <div class="row gtr-0 gtr-uniform"> <!-- user name -->
                        <div class="col-2 form-label">
                            <label for="id_username">{{ form.username.label }}</label>
                        </div>
                        <div class="col-3 col-3-xsmall">
                            {{ form.username }}
                            <p class="tooltip">This is what you will use to log in with.</p>
                            {% include "./_username_errors.html" %}
                        </div>
                    </div>
                    <div class="row gtr-0 gtr-uniform"> <!-- password -->
                        <div class="col-2 form-label">
                            <label for="register:pass1">{{ form.password.label }}</label>
                        </div>
                        <div class="col-3 col-3-xsmall">
                            {{ form.password }}
                            <p class="tooltip">Minimum 8 characters; include 1 upper case letter and one number.</p>
                            {% include "./_password_errors.html" %}
                        </div>
                    </div>
                    <div class="row gtr-0 gtr-uniform"> <!-- confirm password -->
                        <div class="col-2 form-label">
                            <label for="register:pass2">{{ form.password_confirm.label }}</label>
                        </div>
                        <div class="col-3 col-3-xsmall">
                            {{ form.password_confirm }}
                            <p class="tooltip">Retype password to validate.</p>
                            {% include "./_password_confirm_errors.html" %}
                        </div>
                    </div>
                </div>

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <button type="submit" class="button primary small form-submit-button"><i class="fa fa-check"></i>
                    {% trans "Create account" %}</button>
                <span><strong>Wait!</strong> By creating an account, you are stating you have read and agree to
                    our <a id="terms-of-service" href="#">Terms of Service</a></span>

            </form>

            <p class="login-signup">
                <small>
                    {% trans "Already have an account?" %}
                    <strong><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></strong>
                </small>
            </p>

        </div>
    </section>

    <!-- Modal form for terms of use -->
    <div class="modal closed" id="modal-terms">
        <div class="modal-header">
            <h4 class="modal-title">Site Terms and Conditions</h4>
            <button id="modal-header-close" type="button" class="modal-close-button">Close</button>
        </div>
        <div class="modal-guts">
            <p>Terms of use go here.</p>
            <button id="modal-guts-close" type="button" class="button primary small">Got it!</button>
        </div>
     </div>
    <div class="modal-overlay closed" id="modal-overlay"></div>

{% endblock %}

{% block scripts %}
    <script>
        $( "#terms-of-service" ).click(function( event ) {
            event.preventDefault();
            $( '#modal-terms' ).toggleClass('closed');
            $( '#modal-overlay' ).toggleClass('closed');
        });
        $( "#modal-header-close" ).click(function( event ) {
            event.preventDefault();
            $( '#modal-terms' ).toggleClass('closed');
            $( '#modal-overlay' ).toggleClass('closed');
        });
        $( "#modal-guts-close" ).click(function( event ) {
            event.preventDefault();
            $( '#modal-terms' ).toggleClass('closed');
            $( '#modal-overlay' ).toggleClass('closed');
        });
    </script>
{% endblock %}