{% extends "../opusario/base.html" %}
{% load static %}

{% block body_container %}
    <section class="wrapper style5">
        <div class="inner">
            <form>
                <a href="/app/company" target="_blank"><h4>Company Instance</h4></a>
                <a href="/app/role" target="_blank"><h4>Role Instance</h4></a>
                <a href="/app/skill" target="_blank"><h4>Skill Instance</h4></a>
                <a href="/app/tool" target="_blank"><h4>Tool Instance</h4></a>
                <a href="/app/project" target="_blank"><h4>Project Instance</h4></a>
            </form>
        </div>
    </section>
{% endblock %}