{% include 'talent/widgets/pill_button_filter.html' %}

<select id="{{ widget.attrs.id }}" name="{{ widget.name }}" placeholder="" multiple="" style="display: none;">
    {% for id, name, icon in widget.items %}
        {% if icon == 'minus' %}
            <option value="{{ id }}" selected="">{{ name }}</option>
        {% endif %}
    {% endfor %}
</select>

<div id="{{ widget.name }}-container" class="col-10 col-10-xsmall">
    {% with 'plus' as group %}
        {% include 'talent/widgets/pill_button_groups.html' %}
    {% endwith %}
    {% with 'minus' as group %}
        {% include 'talent/widgets/pill_button_groups.html' %}
    {% endwith %}
</div>

<script>
    document.getElementById("{{ widget.name }}-filter").addEventListener("click",function(e){
        e.preventDefault();

        var $FilterButton = $('#' + e.target.id);

        // remove style from previously selected button and add to newly selected filter
        var inlineStyle = 'color: whitesmoke !important; background-color: dimgray !important;';
        var $PreviousSelection = $("#{{ widget.name }}-filter").find("[style='" + inlineStyle + "']");
        $PreviousSelection.removeAttr('style');
        $FilterButton.attr('style', inlineStyle);

        // get selected items so that they are not included in the new 'plus' items
        var selected = '';
        $('#{{ widget.attrs.id }}').find('option').each(function(){
            selected += ($(this).attr('value')) + ',';
        });

        // call back to the server to filter items based on selected filter and current selections
        $.ajaxSetup({beforeSend: function(xhr, settings){
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        }});
        $.ajax({
            type: 'GET',
            url: "/talent/ajax-filter-pills",
            data: {
                'model': '{{ widget.model }}',
                'name': '{{ widget.name }}',
                'selected': selected,
                'filter_by': $FilterButton.val()
            },
            success: function (data) {$("#{{ widget.name }}-group-plus").replaceWith(data);},
            error: function () {}
        });
    },false);

    document.getElementById("{{ widget.name }}-container").addEventListener("click", function(e) {
        e.preventDefault();

        var $PillButton = $('#' + e.target.id);  // Child 'plus' or 'minus' button element that was clicked
        var pillId = $PillButton.attr('id');
        var pillClass = $PillButton.attr('class');
        var pillValue = $PillButton.attr('data-value');
        var pillIcon = $PillButton.attr('data-icon');
        var pillText = $PillButton.text();

        var htmlPlusIcon = '<i class="fa fa-plus-circle icon-plus"></i>';
        var htmlMinusIcon = '<i class="fa fa-minus-circle icon-minus"></i>';

        // Add or remove option from actual select DOM element which is returned when the form is submitted
        if (pillIcon === 'plus') {
            $("#{{ widget.attrs.id }}").append($("<option></option>")
                .attr("value", pillValue)
                .attr('selected', 'selected')
                .text(pillText)
            );
        } else {
            $("#{{ widget.attrs.id }} option[value=" + pillValue + "]").remove();
        }

        // Update group pill button divs so that option is moved to reflect selection
        var baseGroupID = '{{ widget.name }}-group-';
        var movingToGroup = (pillIcon==='plus')? 'minus' : 'plus';
        var $DivGroup = $('#' + baseGroupID + movingToGroup);
        var htmlDiv = '<div id="' + pillId + '" class="' + pillClass + '" data-value="' + pillValue + '" data-icon="' +
            movingToGroup + '">' + pillText + ((movingToGroup === 'plus') ? htmlPlusIcon : htmlMinusIcon) + '</div>';

        var groupItems = $DivGroup.find('div');  // get all the pill button divs in group where button needs to be added
        if (groupItems.length > 0) {
            groupItems.each(function () {
                if ($PillButton.text() < $(this).text()) {  // insert in list alphabetically
                    $(this).before($(htmlDiv));
                    return false;
                } else {
                    if ($(this).is(':last-child')) {  // if at end, it needs to be added last
                        $(this).after($(htmlDiv))
                    }
                }
            });
        } else {
            $DivGroup.append($(htmlDiv));  // nothing in the group, add first skill selected
        }
        $PillButton.remove();  // and remove from group where pill button was when clicked

    }, false);
</script>
