{% include 'talent/widgets/pill_button_filter.html' %}
{% include 'talent/widgets/pill_button_groups.html' %}
<script>
    document.getElementById("{{ widget.type }}-filter").addEventListener("click",function(e){
        e.preventDefault();
        $.ajaxSetup({beforeSend: function(xhr, settings){
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        }});
        $.ajax({
            type: 'GET',
            url: "/talent/ajax-filter-pills",
            data: {
                'type': e.target.id.split('-')[0],
                'selected': [],
                'filter_by': $('#' + e.target.id).val()
            },
            success: function (data) {$("#{{ widget.type }}-buttons").html(data);},
            error: function () {}
        });
    },false);
    document.getElementById("{{ widget.type }}-group-plus").addEventListener("click", function(e) {
        e.preventDefault();

    }, false);
</script>
