{% include 'talent/widgets/pill_button_filter.html' %}
<select id="{{ widget.attrs.id }}" style="display: none;"></select>
<div id="{{ widget.name }}-container">
    {% include 'talent/widgets/pill_button_groups.html' %}
</div>
<script>
    document.getElementById("{{ widget.name }}-filter").addEventListener("click",function(e){
        e.preventDefault();
        var selected = '';
        $('#{{ widget.attrs.id }}').find('option').each(function(){
            selected += ($(this).attr('value')) + ',';
        });
        $.ajaxSetup({beforeSend: function(xhr, settings){
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        }});
        $.ajax({
            type: 'GET',
            url: "/talent/ajax-filter-pills",
            data: {
                'model': '{{ widget.model }}',
                'selected': selected,
                'filter_by': $('#' + e.target.id).val()
            },
            success: function (data) {$("#{{ widget.name }}-container").html(data);},
            error: function () {}
        });
    },false);
    document.getElementById("{{ widget.name }}-group-plus").addEventListener("click", function(e) {
        e.preventDefault();
        var $addOption = $('#' + e.target.id);
        $("#{{ widget.attrs.id }}").append($("<option></option>")
            .attr("value", $addOption.attr('data-value'))
            .attr('selected', 'selected')
            .text($addOption.text())
        );
    }, false);
</script>
